<%= link_to blog_path(blog) do %>
  <div class="blog-card-wrapper">
    <div class="blog-card clearfix">
      <div class="blog-card-author-img">
        <%= image_tag blog.user.image.thumb.to_s %>
      </div>
      <div class="blog-card-info">
        <div class="blog-posted-at">
          <%= blog.user.name %>が<%= blog.updated_at.strftime('%Y/%m/%d') %>に投稿
        </div>
        <h1><%= blog.title.truncate(30) %></h1>
        <div class="blog-categories">
          <% blog.categories.each do |category| %>
            <span><%= category.name %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
