<main class="blogs-wrapper">
  <div class="container">
    <div class="blogs-wrapper-heading">
      Monosumida Developer's blog
    </div>
    <div class="blog-cards-wrapper">
      <% if logged_in? %>
        <div class="mb-2 text-right">
          <%= link_to new_blog_path, class: 'btn btn-dark mb-2' do %>
            <i class="far fa-edit mr-2"></i>投稿する
          <% end %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-3">
          <div class="blogs-refine-wrapper">
            <% User.all.each do |user| %>
              <%= link_to blogs_path(author: user.name), class: "blogs-refine-link" do %>
                <div class="blogs-author">
                  <% if user.image.blank? %>
                    <div class="blogs-author-no-image"></div>
                  <% else %>
                    <%= image_tag user.image.thumb.to_s, class: 'blogs-author-image' %>
                  <% end %>
                  <span class="blogs-author-name"><%= user.name %></span>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-9">
          <%= render @blogs %>
        </div>
      </div>
    </div>
  </div>
</main>
