<div class="home-top-top-wrapper brand-outer-bg-color">
  <div class="home-top-container-wrapper">
    <div class="home-top-top-brand-name brand-outer-color brand-inner-bg-color">
      <h1>
        Mono<br>
        sumida
      </h1>
    </div>
    <p class="brand-inner-color">
      NOT SURE,<br>
      WHAT WILL WE DO.
    </p>
  </div>
  <%= render 'parts/scroll', use_gray: false %>
</div>

<article>
  <div class="container">
    <h2>About</h2>
    <div class="home-top-description-wrapper d-none d-md-block">
      <p class="home-top-description">
        <b>Monosumida</b> は、「モノ×モトスミヨシ×イダ」を捩った造語で、<br>
        小学生時代から友人であるエンジニアが「ナンカツクリタイネ」という共通認識のもと集い、<br>
        発足された開発者集団です。<br>
        それぞれ別の分野でエンジニアリングに携わっているため、<br>
        幅広い分野で ものづくり ができることを強みとしています。<br>
        当Webサイトでは、 <b>Monosumida</b> に所属するエンジニアの技術ブログや、<br>
        成果物などの紹介などを公開していければと考えています。
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <%= link_to 'https://monosumida.herokuapp.com/blogs/1' do %>
          <div class="card about-card-link">
            <%= image_tag 'home/about-monosumida.jpeg', class: 'img-fluid about-img' %>
            <div class="card-body">
              <h3 class="card-heading">
                <span class="link-arrow"></span><span class="link-arrow-text">What will we do?</span>
              </h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <%= image_tag 'home/coming-soon.jpeg', class: 'img-fluid' %>
          <div class="card-body">
            <h3 class="card-heading">
              <span class="link-arrow"></span><span class="link-arrow-text">Our products</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'parts/scroll', use_gray: true %>
</article>
<article class="next send-back">
  <div class="container">
    <h2>Members</h2>
    <% User.administrators.each do |user| %>
      <div class="home-top-member-wrapper">
        <div class="home-top-member-image">
          <% if !(user.image.blank?) %>
            <%= image_tag user.image.thumb.to_s %>
          <% end %>
        </div>
        <div class="home-top-member-info">
          <div class="home-top-member-name"><%= user.name %></div>
          <div class="home-top-member-description">
            <p><%= user.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</article>
