<%= form_with(model: [:admin, blog], local: true, id: 'blog_form', class: 'clearfix') do |form| %>

  <div class="row">
    <div class="col-md-12">
      <div class="custom-control custom-checkbox">
        <%= form.check_box :public_flag, class: 'custom-control-input' %>
        <%= form.label :public_flag, '公開', class: 'custom-control-label' %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <label>カテゴリ名</label>
      <%= form.fields_for :blog_categories do |blog_category| %>
        <%= render 'blog_category_fields', f: blog_category %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'カテゴリを追加', form, :blog_categories, class: 'btn btn-success' %>
      </div>
    </div>
  </div>

  <hr>

  <label>コンテンツ</label>

  <div class="row">
    <div class="col-md-12">
      <h1><%= blog.title %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="blog-conetent-wrapper">
        <%= markdown(blog.content.truncate(200)) %>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
  <div class="clearfix"></div>
<% end %>
