<tr>
  <td><%= blog.id %></td>
  <td><%= blog.user.name %></td>
  <td><%= blog.title %></td>
  <td><%= blog.content.truncate(30) %></td>
  <td>
    <% if blog.public_flag? %>
      <span class="badge badge-success">公開中</span>
    <% else %>
      <span class="badge badge-danger">非公開</span>
    <% end %>
  </td>
  <td><%= link_to 'Edit', edit_admin_blog_path(blog), class: 'btn btn-info' %></td>
  <td><%= link_to 'Destroy', admin_blog_path(blog), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
</tr>
