<%= form_with(model: blog, local: true, id: 'blog_form', class: 'clearfix') do |form| %>
  <div class="blog-text-field-wrapper mx-2">
    <%= form.text_field :title, class: 'form-control blog-title', placeholder: 'タイトル', required: true %>
  </div>

  <div class="blog-text-area-wrapper mx-2">
    <div class="clearfix">
      <%= link_to 'Write', '', id: 'blog-content-btn', class: 'current', remote: true %>
      <%= link_to 'Preview', '', id: 'blog-preview-btn', remote: true %>
    </div>
    <div id="blog-content-area">
      <%= form.text_area :content, class: 'form-control', placeholder: '記事を共有しよう', required: true %>
    </div>
    <div id="blog_preview">
      <%= render 'preview' %>
    </div>
  </div>

  <div class="blog-footer-wrapper">
    <%= form.submit class: 'btn btn-dark' %>
  </div>
<% end %>
