<!DOCTYPE html>
<html>
  <head>
    <title>Monosumida</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:900|M+PLUS+Rounded+1c|Permanent+Marker&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/757212c879.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script id="_bownow_ts">
    var _bownow_ts = document.createElement('script');
    _bownow_ts.charset = 'utf-8';
    _bownow_ts.src = 'https://contents.bownow.jp/js/UTC_6755cae0c187ef87e83e/trace.js';
    document.getElementsByTagName('head')[0].appendChild(_bownow_ts);
    </script>
  </head>

  <body>
    <%= render 'parts/nav' %>
    <% if notice %><%= render 'parts/notice', notice: notice %><% end %>
    <% if alert %><%= render 'parts/alert', alert: alert %><% end %>
    <%= yield %>
    <% if !(controller_name == 'blogs' && action_name == 'new' || action_name == 'edit') %>
    <%= render 'parts/footer' %>
    <% end %>
  </body>
</html>
